.container {
    text-align: center;
}
table {margin: auto;}

input{
    
    font-size: 38px;
    width: auto;
    border-radius: 20px;
}


button{
    font-size: 40px;
    border-radius: 30px;
    font-size: 40pxs ;
    background-color: aquamarine;
    width: 90px;
    height: 70px;
}
.calscreen{
    background-color: darksalmon;
    padding: 23px;
    border-radius: 45px;
    display: inline-block;
}